
{% extends 'base.html' %}

{% block content %}
{% if countryName%}
<h2 style="font-style:italic">{{countryName}} </h2>
<br>
<div class="summary" style= "border:cadetblue; border-width:3px; border-style:solid; border-radius: 8px;">
        <h5>Welcome to {{countryName}}</h5>
{% if summary%}
        <p>{{summary}}</p>
{% endif %}
</div>
<br>
<div class="tsa" style= "border:cadetblue; border-width:3px; border-style:solid; border-radius: 8px;">
    <h5>Current Travel Advisory for {{countryName}}</h5>
    <p>
        <table>
            {% if advisory%}
            <th>{{advisory['date']}}</th>
<div class="tsa" style= "border:cadetblue; border-width:3px; border-style:solid; border-radius: 8px;">
            <th style="background-color: {{advisory['color']}}; color: gray;">{{advisory['advisory']}}</th>
        </table>
    </p>
    <p>For more info, please see the official advisory on the <a href="{{advisory['url']}}" onclick="return confirm_alert(this);" class="btn-sm"> TSA website</a> </p>
</div>
    {% endif %}
<br>
<div class = "row">
<div class="weather" style= "border:cadetblue; border-width:3px; border-style:solid; width:60%; border-radius: 8px;">
    <h5>Historical Weather Information</h5>
    <p></p>
    <label>See previous year's weather by selecting a date and city. </label>
    <br>
    <form id= "weather" method ="POST">
        <input type="date" name="date" min="2022-11-01" max="2023-11-01" style="width:150px">
    <br>
        <select class="search_select" name = "location" id="location" style="width:120px;">
            {% if cities %}
                {% for city in cities %}
            <option value="{{city}},{{countryName}}">{{city}}</option>
            {% endfor %}
        </select>
        {% endif %}
      <button type ="submit" name="weather"> Check </button>
    </form>
</div>
{% block weather %}
{% if temperature %}
<div class="weather2" style= "border:cadetblue; border-width:3px; border-style:solid; width:40%; border-radius: 8px;">
    <p>The average temperature in {{temperature['city']}}, {{temperature['country']}} was {{temperature['tavg']}} Fahrenheit on {{temperature['date']}}</p>
</div>
{% endif %}
{% endblock %}
</div>

<br>
<div class="row">
<div class="currency" style= "border:cadetblue; border-width:3px; border-style:solid; width:60%; border-radius: 8px;">
    <h5>Currency Converter</h5>
    <br>
    <p>See the current currency exchange rate by entering an amount and a currency to convert from.</p>
    <form method = "POST">
        <p>From:
            <input type ="number" step="0.01" min="0"  name = "quantity" placeholder="Quantity (e.g. 1,2,3)" style="width: 140px;">
        
        <select class="search_select" name = "from_curr">
            {% if all_currencies %}
                {% for curr in all_currencies %} 
            <option value="{{curr}}">{{all_currencies[curr]}} {{curr}}</option>
                {% endfor %}
          </select>
          {% endif %}
        </p>

        {% if currency %}
        <input type="hidden" name="to_curr" value="{{currency[1]}}">
        <p style="margin-left: 20px;">To {{currency[0]}} ({{currency[1]}}):
            <button type ="submit" name="currency"> Check </button>
        </p>
        {% endif %}
    </form>
</div>
<div class="currency2"></div>
{% block currency_conversion %}
{% if curr_dict %}
<div class="currency2" style= "border:cadetblue; border-width:3px; border-style:solid; width:40%; border-radius: 8px;">
    <h6>Current Time: {{curr_dict['date']}}</h6>
    <h6> Exchange rate: 1 {{curr_dict['from_curr']}} : {{curr_dict['to_curr']}} is {{curr_dict['exchange_rate']}}</h6>
    <br>
    <p>Exchange value for <strong>{{curr_dict['amount']}} {{curr_dict['from_curr']}} </strong> is <strong>{{curr_dict['exchange_value']}} {{curr_dict['to_curr']}}</strong>. </p>
</div>
{% endif %}
{% endblock %}
</div>
<br>

<div class="cities" style= "border:cadetblue; border-width:3px; border-style:solid; width:100%; border-radius: 8px;">
    <ul><h5>Cities in {{countryName}}</h5>
{% if cities %}
    {% for city in cities %}
    <li>{{city}}</li>
    {% endfor %}
    </ul>
{% endif %}

</div>
{% endif %}
</html>
{% endblock %}
