
{% extends 'base.html' %}


{% block content %}
{% if countryName%}
<h2 style="font-style:italic">{{countryName}} </h2>
<br>
<div class="row">
    <div class="column" style= "border:cadetblue; border-width:3px; border-style:solid; border-right:0px; border-radius: 8px; width:40%;">
        <h5>Welcome to {{countryName}}</h5>
{% if summary%}
        <p>{{summary}}</p>
{% endif %}
    </div>
    <div class="column" style= "border:cadetblue; border-width:3px; border-style:solid; border-radius: 8px; width:40%;">
        <h5>Current Travel Advisory for {{countryName}}</h5>
        <p>
            <table>
                <th>October 5, 2022 | </th>
                <th style="background-color: orange">Level 3: Reconsider Travel</th>
            </table>

        </p>
        <p>For more info, please see the official advisory on the <a href="https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories/papua-new-guinea-travel-advisory.html " onclick="return confirm_alert(this);" class="btn-sm"> TSA website</a> </p>
    </div>
</div>
<br>
<div class="weather" style= "border:cadetblue; border-width:3px; border-style:solid; width:70%; border-radius: 8px;">
    <h5>Historical Weather Information</h5>
    <p></p>
    <div class ="column">
    <label>See previous year's weather by selecting a date and city. </label>
    <br>
    <input type="date" id="today" name="trip-start"
        min="2022-01-01" max="2023-12-31" style="width:150px">
    </div>
    <br>
    <form method ="POST">
        <select class="search_select" name="city" style="width:120px;">
{% if cities %}
    {% for city in cities %}
            <option value="{{city}}">{{city}}</option>
    {% endfor %}
        </select>
      <input type ="submit" value="Check" style="width:100px;">
    </form>
{% endif %}
</div>
<br>

<div class="currency" style= "border:cadetblue; border-width:3px; border-style:solid; width:70%; border-radius: 8px;">
    <h5>Currency Converter</h5>
    <p></p>
    <label>See the current currency exchange rate by entering an amount and a currency to convert from.</label>
    <div class = "row">
        <p style="margin-left: 20px;">From:
            <input type ="number" placeholder="Quantity (e.g. 1,2,3)" style="width: 140px;">
        <select class="search_select" name="currency">
            <option value="USD">United States Dollars USD </option>
            <option value="CNY">Chinese Yuan CNY</option>
            <option value="JPY">Japanese Yen JPY</option>
            <option value="KRW">South Korean Won KRW</option>
          </select>
        </p>
    </div>
    <div class = "row">
        <p style="margin-left: 20px;">To: 
        <select class="search_select" name="currency">
            <option value="CNY">Chinese Yuan CNY</option>
            <option value="JPY">Japanese Yen JPY</option>
            <option value="USD">United States Dollars USD </option>
            <option value="KRW">South Korean Won KRW</option>
          </select>
        <button>Convert</button>
        </p>
    </div>
</div>
<br>

<div class="cities" style= "border:cadetblue; border-width:3px; border-style:solid; width:70%; border-radius: 8px;">
    <ul><h5>Cities in {{countryName}}</h5>
{% if cities %}
    {% for city in cities %}
    <li>{{city}}</li>
    {% endfor %}
    </ul>
{% endif %}

</div>
{% endif %}
</html>
{% endblock %}
