{% extends 'base.html' %}

{% block content %}
    <h1 style="font-style:italic">{% block title %}Journey{% endblock %}</h1>
    <br>
    <h5>Love to travel but don't know where to go? Journey can help!.</h5>
    <p>Discover different places and see travel advisories, weather information, currency information and create a travel itinerary all in one place. </p>
    <h6> <a href = '/country' class = "btn-lg"> Find </a>your next destination and then <a href = '/planner' class = "btn-lg"> Plan </a> your next adventure</h6>
    <br>
    <figure>
        <img src = "https://images.unsplash.com/photo-1578894381163-e72c17f2d45f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1812&q=80">
        <figcaption> Image by Charlotte Noelle via <a href= https://unsplash.com/photos/eyfMgGvo9PA> Unsplash </a> </figcaption>
    </figure>
    <br>

</html>
{% endblock %}

